SECRET_KEY=django-secret-key-123456
DEBUG=1

# Prevents Python from writing pyc files to disk
PYTHONDONTWRITEBYTECODE=1
#Prevents Python from buffering stdout and stderr
PYTHONUNBUFFERED=1

CELERY_BROKER_URL=amqp://guest@rabbit:5672
