aioquic==1.2.0
asgiref==3.11.1
attrs==25.3.0
black==25.1.0
celery==5.6.2
certifi==2025.7.14
cffi==1.17.1
cfgv==3.4.0
click==8.2.1
cryptography==45.0.5
curl_cffi==0.12.0
distlib==0.4.0
Django==6.0.3
filelock==3.18.0
identify==2.6.13
isort==6.0.1
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pre_commit==4.3.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pylsqpack==0.3.22
pyOpenSSL==25.1.0
PyYAML==6.0.2
service-identity==24.2.0
sqlparse==0.5.5
Unidecode==1.4.0
virtualenv==20.33.1
